.btn,
a.btn {
	display: inline-block;
	background: $green;

	height: 51px;
	line-height: 51px;

	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;

	padding: 0 50px;
	color: $white;
	font-size: 20px;
	font-weight: 400;
	border-radius: 4px;
	transition: opacity 0.2s ease;
}

.btn:hover,
a.btn:hover {
	opacity: 0.8;
	color: $white;

	@include breakpoint(md) {
		min-height: 41px;
		padding-left: 30px;
		padding-right: 30px;
	}
}

.btn--big,
a.btn--big {
	min-height: 65px;

	@include breakpoint(md) {
		min-height: 55px;
	}
}
.home__btn {
	display: flex;
}
