html,
body {
	height: 100%;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.5;
	color: $fontMain;
	@include breakpoint(md) {
		font-size: 16px;
	}
}

.container {
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
.container-wide {
	max-width: 1536px;
}
.visually-hidden {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	display: block;
	margin-left: -10000px;
	background: transparent;
	font-size: 0;
}

.none {
	display: none;
}
