.header {
	padding: 17px 0;
	border-bottom: 1px solid #d6d6d6;
	@include breakpoint(992) {
		z-index: 1000;
		background: #fff;
		position: fixed;
		left: 0;
		right: 0;
		box-shadow: 1px 2px 2px 2px hsla(124, 69%, 13%, 0.181);
	}

	&__row {
		display: flex;
		align-items: center;
		@include breakpoint(1200) {
			justify-content: space-between;
		}
	}
	&-nav {
		color: #292929;
		margin-left: 172px;
		@include breakpoint(1200) {
			margin-left: 30px;
		}
		&__list {
			display: flex;
		}
		li + li {
			margin-left: 70px;
			@include breakpoint(1200) {
				margin-left: 50px;
			}
		}
		&__link {
			transition: color 0.2s ease;
		}
		&__link:hover {
			color: $green;
		}
	}
	&-login {
		display: flex;
		align-items: center;
		margin-left: auto;
		@include breakpoint(1200) {
			margin-left: unset;
		}
		> * + * {
			margin-left: 35px;
		}
	}
	&-nav,
	&-login {
		@include breakpoint(992) {
			display: none;
		}
	}
	&-login__link {
		color: #000;
		transition: color 0.2s ease;
	}
	&-login__link a:hover {
		color: $green;
	}
}
