$fontMain: #424242;
$green: #01996d;
$white: #fff;
$darkgreen: #245852;

//media

@mixin breakpoint($point) {
	@if $point == lg {
		@media (max-width: 1200px) {
			@content;
		}
	} @else if $point == md {
		@media (max-width: 992px) {
			@content;
		}
	} @else if $point == sm {
		@media (max-width: 576px) {
			@content;
		}
	} @else if $point == xs {
		@media (max-width: 500px) {
			@content;
		}
	} @else if $point == minlg {
		@media (min-width: 1201px) {
			@content;
		}
	}
}
